#! /bin/bash
#------------------------------------------------------------------------------
# bashrc - Dotfiles bashrc file.
#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license in  the LICENSE file
# or https://opensource.org/license/cddl-1-0/
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#
# Copyright (c) 2000-2023 by John Yancey, All rights reserved.
#
# August 2000 John Yancey <john.w.yancey@gmail.org>
#
# $Id$
#------------------------------------------------------------------------------
#
#
if [ -f /etc/bashrc ]; then
  . /etc/bashrc
fi

export OS_SYS=`uname -s`
export OS_REL=`uname -r`

if [ "$PS1" ]; then
  export PS1="[\u@\h \W]\\$ "
fi

#
# Now for all the tricky stuff
#
for i in $HOME/.files/profile.d/*.sh ; do
  if [ -r "$i" ]; then
    . $i
  fi
done


XAPPLRESDIR=/usr/dt/lib/app-defaults:/usr/openwin/app-defaults:
XAPPLRESDIR=$XAPPLRESDIR:/usr/local/lib/app-defaults:$HOME/.app-defaults
OPENWINHOME=/usr/openwin

if [ "$OS_SYS" == "Linux" ]; then
  EDITOR=vim
  VISUAL=vim
else
  EDITOR=vi
  VISUAL=vi
fi

PAGER=less
LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib:$HOME/lib

export XAPPLRESDIR XAPPLRESDIR OPENWINHOME EDITOR VISUAL PAGER LD_LIBRARY_PATH

